<div class="announcement">
  <p>
    <span class="announcement-title">
      <%= announcement.title %>
    </span>
    - <%= announcement.body %>
  </p>
  <p class="announcement-posted">
    Posted by <%= announcement.mate.first_name %> <%= announcement.mate.last_name %> at <%= announcement.created_at.strftime('%a, %b %d %Y %l:%M %p') %>
  </p>
  <%= link_to "Edit", edit_house_announcement_path(@house, announcement), remote: true, class: "edit-announcement-button" %>
  <%= link_to "Delete", house_announcement_path(@house, announcement), method: :delete, data: { confirm: "Are you sure you want to delete this announcement?" }, remote: true %>
</div>
