<div id="announcement-form">

  <% if @announcement.id.present? %>
    <h3>Update Announcement</h3>
  <% else %>
    <h3>New Announcement</h3>
  <% end %>

  <%= form_for [@house, @announcement], remote: true, authenticity_token: true do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Party on Friday!" %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, placeholder: "Hey guys, we're having a party on friday! Invite your friends!" %>
    </div>

    <div class="field">
      <%= label_tag :anonymous do %>
        Post Anomymously
        <%= check_box_tag :anonymous %>
      <% end %>
    </div>

    <div class="action">
      <% if @announcement.id? %>
        <%= f.submit "Update This Announcement", class: "announcement-form-submit" %>
      <% else %>
        <%= f.submit "Create New Announcement", class: "announcement-form-submit" %>
      <% end %>
    </div>
  <% end %>
</div>
