<div id="login-form">

  <h3>Log In</h3>

  <%= form_tag sessions_path, method: 'post', class: 'login-form' do %>

    <div class="field">
      <%= label_tag 'email or username' %>
      <%= text_field_tag :login %>
    </div>

    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="field">
      <%= label_tag :remember do %>
        Remember me
        <%= check_box_tag :remember, params[:remember], true %>
      <% end %>
    </div>

    <div class="action">
      <%= submit_tag 'Log in', class: "login-form-submit" %>
    </div>

  <% end %>

  <br>
  <hr>
  <%= button_to "Click Here to Reset Your Password", password_resets_path, method: :get, class: "password-reset-form-button", form_class: "request-password-reset-form", remote: true %>
</div>
