<%= form_tag sessions_path, method: 'post' do %>

  <div class="field">
    <%= label_tag 'email or username' %>
    <%= text_field_tag :login %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= submit_tag 'Log in' %>
  </div>

<% end %>

<p>Forgot your password? <%= link_to "Click here", class: "request-reset-form-link" remote: true %> to reset it.</p>
<%= render 'password_resets/request_reset_form' %>
