<div id="mate-form">

  <% if @mate.id.present? %>
    <h3>Update Profile Information</h3>
  <% else %>
    <h3>Sign Up!</h3>
  <% end %>

  <%= form_for @mate do |f| %>

    <% if @mate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mate.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @mate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "Pete" %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Jones" %>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "petejones15" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "petejones@email.com" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number, placeholder: "(416) 555-1234" %>
    </div>

    <div class="notification-preferences">
      <p>Notification Preferences</p>
      <div class="field">
        <%= f.label :notify_email do %>
          <%= f.check_box :notify_email %>
          Email
        <% end %>
      </div>

      <div class="field">
        <%= f.label :notify_sms do %>
          <%= f.check_box :notify_sms %>
          SMS
        <% end %>
      </div>
    </div>

    <div class="mate-avatar-settings">
      <% if @mate.mate_avatar.present? %>
        <%= image_tag @mate.mate_avatar, height: 150, class: "mate-avatar" %>
        <div class="field">
          <%= f.label :mate_avatar, "Change your photo" %>
          <%= f.file_field :mate_avatar %>
        </div>
      <% else %>
        <div class="field">
          <%= f.label :mate_avatar, "Upload a Photo!" %>
          <%= f.file_field :mate_avatar %>
        </div>
      <% end %>
    </div>

    <% if @mate.id.blank? %>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    <% end %>

    <% if @mate.id.blank? %>
      <div class="field">
        <%= f.submit "Create Account" %>
      </div>
    <% elsif @mate.id.present? %>
      <div class="action">
        <%= f.submit "Update Information" %>
      </div>
    <% end %>

  <% end %>

  <% if @mate.house_id.present? %>
    <p>You currently reside in <%= link_to @mate.house.name, house_path(@mate.house) %></p>
    <%= form_for @mate do |f| %>
      <%= f.hidden_field :house_id, :value => nil %>
      <%= f.submit "Leave This House" %>
    <% end %>
  <% end %>

</div>
