<%= form_for current_user do |f| %>

  <div class="field">
    <%= f.label :notify_email do %>
      <%= f.check_box :notify_email %>
      Email
    <% end %>
  </div>

  <div class="field">
    <%= f.label :notify_sms do %>
      <%= f.check_box :notify_sms %>
      SMS
    <% end %>
  </div>

  <div class="action">
    <%= f.submit "Update Notification Settings" %>
  </div>
<% end %>
