<div class="profile-card">
  <div class="mate-profile-picture">
    <% if @mate.mate_avatar.present? %>
      <%= image_tag @mate.mate_avatar, class: "mate-avatar" %>
    <% else %>
      <%= image_tag "noprofilephoto.svg", class: "no-photo mate-avatar" %>
    <% end %>
  </div>
  <div class="mate-summary">
    <h1><%= @mate.full_name %></h1>
    <p>
      Username: <%= @mate.username %><br>
      <% if @mate.house %>
        Lives at <%= @mate.house.name %>
      <% end %>
    </p>
    <% if @mate == current_user %>
      <%= link_to button_tag("Edit profile", class: "large-button"), edit_mate_path(@mate), class: "edit-mate-link", remote: true %>
      <% if @mate.house == nil %>
        <%= link_to button_tag("Join a house", class: "large-button"), houses_path %>
      <% end %>
    <% end %>
  </div>
  <div class="mate-point-container">
    <div class="mate-point-summary">
      <div class="point-total">
        <%= link_to (@mate.points.sum(:amount) || 0), mate_points_path(@mate), remote: true %>
      </div>
      <div class="point-subtitle">
        <p>Points</p>
      </div>
    </div>
  </div>
</div>

<% if (@mate == current_user) && (@mate.house != nil) %>

  <div id="mate-duties" class="mate-container chores-expenses">
    <div class="chores-expenses-container">
      <div class="mate-chores chores">
        <div class="mate-chores-header card-header">
          <h3>Chores</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_chore_path(@house), class: "medium-icon-link new-chore-button", remote: true %>
        </div>
        <div class="mate-chores-list card-list">
          <%= render @chores %>
        </div>
      </div>
      <div class="mate-expenses expenses">
        <div class="mate-expenses-header card-header">
          <h3>Expenses</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_expense_path(@house), class: "medium-icon-link new-expense-button", remote: true %>
        </div>
        <div class="mate-expenses-list expenses-list card-list">
          <%= render @expenses || "No current expenses." %>
        </div>
      </div>
    </div>
  </div>

  <div class="owed-owing-purchases">

    <div class="purchases-container">
      <div class="mate-owed-payments owed-purchases card-container">
        <div class="mate-owed-payments-header card-header">
          <h3>
            <% if @mate == current_user %>
              You Owe:
            <% else %>
              <%= @mate.first_name.capitalize %> Owes:
            <% end %>
            <%= number_to_currency(@mate.sum_owed_to_mates) %>
          </h3>
        </div>
        <div class="mate-owed-payments-list card-list">
          <% if @housemate_purchases.any? %>
            <%= render @housemate_purchases %>
          <% else %>
            <p>No purchases yet.</p>
          <% end %>
        </div>
      </div>

      <div class="mate-purchases owing-purchases card-container">
        <div class="mate-purchases-header card-header">
          <h3>
            <% if @mate == current_user %>
              You Are Owed:
            <% else %>
              <%= @mate.first_name.capitalize %> Is Owed:
            <% end %>
            <%= number_to_currency(@mate.sum_owed_to_self) %>
          </h3>
          <% if @mate == current_user %>
            <%= link_to image_tag("add.svg", class: "medium-icon"), new_mate_purchase_path(@mate), class: "medium-icon-link new-purchase-button", remote: true %>
          <% end %>
        </div>
        <div class="mate-purchases-list card-list">
          <% if @purchases.any? %>
            <%= render @purchases %>
          <% else %>
            <p>No purchases yet.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
