<div id="announcements" class="full-container">
  <div class="full-card">
    <div class="full-card-header">
      <h3>Announcements</h3>
      <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_announcement_path(@house), class: "medium-icon-link new-announcement-button", remote: true %>
    </div>
    <% if @announcements.any? %>
      <div class="announcement-counter">
        <strong><%= @announcements.count %></strong> announcements
        <%= button_tag "Show", id: "show-announcements-button" %>
        <%= button_tag "Hide", id: "hide-announcements-button", class: "hidden-button" %>
      </div>
    <% end %>
    <div id="announcements-list" class="full-card-list">
      <%= render(@announcements) || "No announcements!" %>
    </div>
  </div>
</div>

<div id="mate-duties" class="full-container">

  <div id="mate-chores" class="chores-container card-container">
    <div id="mate-chores-header" class="card-header">
      <h3>Chores</h3>
      <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_chore_path(@house), class: "medium-icon-link new-chore-button", remote: true %>
    </div>
    <div id="mate-chores-list" class="card-list">
      <%= render @chores %>
    </div>
  </div>
  <div id="mate-expenses" class="card-container">
    <div id="mate-expenses-header" class="card-header">
      <h3>Expenses</h3>
      <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_expense_path(@house), class: "medium-icon-link edit-expense-button", remote: true %>
    </div>
    <div id="mate-expenses-list" class="card-list">
      <%= render(partial: "expenses/expense", collection: @house.expenses, as: :expense) || "No current expenses." %>
    </div>
  </div>
</div>

<div class="purchases-container full-container">

    <div id="mate-owed-payments" class="purchases-container card-container">
      <div id="mate-owed-payments-header" class="card-header">
        <h3>
          <% if @mate == current_user %>
            You Owe:
          <% else %>
            <%= @mate.username.capitalize %> Owes: 
          <% end %>
          <%= number_to_currency(@mate.sum_owed_to_mates) %>
        </h3>
      </div>
      <div id="mate-owed-payments-list" class="sub-card-list">
        <%= render partial: "purchases/housemate_purchase", collection: @housemate_purchases %>
      </div>
    </div>

    <div id="mate-purchases" class="purchases-container card-container">
      <div id="mate-purchases-header" class="card-header">
        <h3>
          <% if @mate == current_user %>
            You Are Owed:
          <% else %>
            <%= @mate.username.capitalize %> Is Owed:
          <% end %>
          <%= number_to_currency(@mate.sum_owed_to_self) %>
        </h3>
        <% if @mate == current_user %>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_mate_purchase_path(@mate), class: "medium-icon-link new-purchase-button", remote: true %>
        <% end %>
      </div>
      <div id="mate-purchases-list" class="sub-card-list">
        <% if @purchases.any? %>
          <div id="mate-purchases-partial">
            <%= render @purchases %>
          </div>
        <% else %>
        <p>
          No purchases yet.
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
