<h1>Profile for <%= @mate.username %></h1>

<div class="mate-details">
  <dl>
    <dd>Name: <%= @mate.first_name %> <%= @mate.last_name %></dd>
    <dd>Email: <%= @mate.email %></dd>
  </dl>
</div>

<div class="mate-houses">
  <!-- created houses -->
  <div class="created-houses">
    <p><strong>Your created houses</strong></p>
    <% @mate.created_houses.each do |house| %>
      <dl>
        <dd><%= link_to house.name, house_path(house) %></dd>
        <dd><i>created on</i> <%= house.created_at %></dd>
      </dl>
    <% end %>
  </div>
  <!-- belongs to houses -->
  <div class="belongs-to-houses">
    <p><strong>Your current house</strong></p>
      <% if @mate.house %>
        <dl>
          <dd><%= link_to @mate.house.name, house_path(@mate.house) %></dd>
          <dd><i>created on</i> <%= @mate.house.created_at %></dd>
          <% unless @mate.house.creator = current_user %>
            <dd><i>added by</i> <%= @mate.house.creator.username %></dd>
          <% end %>
        </dl>
        <div id="leave-house">
          <%= form_for current_user do |f| %>
            <%= f.hidden_field :house_id, :value => nil %>
            <%= f.submit "Leave This House" %>
          <% end %>
        <% else %>
          <p>You are not part of a household yet...</p>
        <% end %>
      </div>
  </div>
</div>

<div class="mate-chores-list">
  <p><strong>Your chores</strong></p>
  <% if @mate.chores.any? %>
    <% @mate.chores.each do |chore| %>
      <dl>
        <dd><%= link_to chore.name, house_chore_path(@mate.house, chore) %></dd>
        <dd>Due: <%= chore.due_date %></dd>
      </dl>

      <%= form_for [@mate.house, chore] do |f| %>
        <%= f.hidden_field :assign_self, :value => nil %>
        <%= f.submit "Unclaim this chore" %>
      <% end %>

      <% if chore.creator == current_user %>
        <%= link_to "Edit chore", edit_house_chore_path(chore.house, chore) %> |
        <%= link_to "Delete chore", house_chore_path(chore.house, chore), method: :delete, data: { confirm: "Are you sure you want to delete this chore?" } %>
      <% end %>
    <% end %>
  <% else %>
    <p>This mate has no chores, lazy bum...</p>
  <% end %>
</div>

<%= link_to "Create a house", new_house_path %>
