<%= form_for @house do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :house_image, "Upload an image for your house!" %>
    <%= f.file_field :house_image %>
  </div>

  <div class="action">
    <%= f.submit "Edit House Info" %>
  </div>
<% end %>
