<div id="house-form" class="card-container">

  <% if @house.id.present? %>
    <h3>Update House Information</h3>
  <% else %>
    <h3>Create New House</h3>
  <% end %>

  <%= form_for @house do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "123 Fake St." %>
    </div>

    <div class="field">
      <%= f.label :house_image, "Upload an image for your house!" %>
      <%= f.file_field :house_image %>
    </div>

    <div class="action">
      <% if @house.id.present? %>
        <%= f.button "Submit Changes", class: "house-form-submit" %>
      <% else %>
        <%= f.button "Create New House", class: "house-form-submit" %>
      <% end %>
    </div>
  <% end %>
</div>
