<div id="announcement-form">
  <%= form_for [@house, @announcement], remote: true, authenticity_token: true do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="action">
      <%= f.submit "Create New Announcement" %>
    </div>
  <% end %>
</div>
