<div id="house-header">
  <div class="header-card">
    <h1 id="house-name"><%= @house.name %></h1>
    <%= image_tag @house.house_image %>
    <div id="house-buttons">
      <% if current_user %>
        <% if current_user.house == @house %>
          <%= form_for current_user do |f| %>
            <%= f.hidden_field :house_id, :value => nil %>
            <%= f.submit "Leave This House" %>
          <% end %>
        <% else %>
          <%= form_for current_user do |f| %>
            <%= f.hidden_field :house_id, :value => @house.id %>
            <%= f.submit "Join This House" %>
          <% end %>
        <% end %>
      <% end %>

      <% if current_user == @house.creator %>
        <%= form_tag house_path(@house), method: :patch, id: 'username-search' do %>
          <%= label_tag "username" %>
          <%= text_field_tag :username_search, nil, placeholder: "Search for a username", class: "query" %>
          <%= submit_tag "Add mate to house" %>
        <% end %>
      <% end %>

      <%= link_to button_tag("Edit this House"), edit_house_path(@house), remote: true, id: "edit-house-button" %>
      <%= link_to button_tag("Delete this House"), house_path(@house), method: :delete, data: { confirm: "Are you sure you want to delete this house?" } %>
    </div>
  </div>

  <div id="roommates" class="header-card">
    <h3>Roommates</h3>
    <ul id="roommates-list">
      <% @house.mates.each do |mate| %>
      <% unless mate == current_user %>
          <li class="roommate">
            <%= image_tag mate.mate_avatar.thumb %> <%= link_to "#{mate.first_name} #{mate.last_name}", mate_path(mate) %> <%= link_to "Send Message", conversations_path(sender_id: current_user.id, receiver_id: mate.id), method: 'post'%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<% if current_user && current_user.house == @house %>

  <div id="announcements" class="full-container">
    <div class="full-card">
      <h3 class="full-card-header">House Announcements</h3>
      <div id="announcements-list" class="full-card-list">
        <%= render(@announcements) || "No announcements!" %>
      </div>
      <div id="new-announcement">
        <%= link_to button_tag("Add New Announcement"), new_house_announcement_path(@house), remote: true, id: "new-announcement-button" %>
      </div>
    </div>
  </div>

  <div id="chores">

    <div id="chores-complete" class="chores-card">
      <h3 class="card-header">Completed Chores</h3>
      <div id="complete-chores-list">
        <%= render(@chores.where(complete: true)) || "No complete chores yet?! Better get on that." %>
      </div>
    </div>

    <div id="chores-incomplete" class="chores-card">
      <h3 class="card-header">Incomplete Chores</h3>
      <div id="incomplete-chores-list">
        <%= render(@chores.where(complete: !true)) || "All chores complete! Good Job!" %>
      </div>
    </div>

    <div id="add-chore-button">
      <%= link_to button_tag("Add new chore"), new_house_chore_path(@house), remote: true, class: "new-chore-button" %><br>
    </div>

  </div>

  <div id="purchases-expenses">

    <div id="purchases" class="house-card">
      <h3 id="purchases-header" class="card-header">Purchases</h3>

      <div id="purchases-list">
        <%= render @purchases || "No Purchases Right Meow" %>
      </div>

      <div id="purchases-buttons">
        <%= link_to button_tag("Add new purchase"), new_mate_purchase_path(current_user), remote: true, class: "new-purchase-button" %>
      </div>
    </div>

    <% if @house.expenses != nil %>
      <div id="expenses" class="house-card">
        <h3 id="expenses-header" class="card-header">Expenses</h3>

        <div id="expenses-list">
          <%= render @expenses || "No household expenses yet!" %>
        </div>

        <div id="expenses-buttons">
          <%= link_to button_tag("Add new expense"), new_house_expense_path(@house), remote: true, class: "new-expense-button" %>
        </div>
      </div>
    <% end %>

  </div>

<% end %>
