<h2><%= @house.name %></h2>

<% if current_user.house_id == @house.id %>
  <%= form_for current_user do |f| %>
    <%= f.hidden_field :house_id, :value => nil %>
    <%= f.submit "Leave This House" %>
  <% end %>
<% else %>
  <%= form_for current_user do |f| %>
    <%= f.hidden_field :house_id, :value => @house.id %>
    <%= f.submit "Join This House" %>
  <% end %>
<% end %>

<h3>Roommates</h3>
<ul>
  <% @house.mates.each do |mate| %>
    <li><%= link_to "#{mate.first_name} #{mate.last_name}", mate_path(mate) %></li>
  <% end %>
</ul>

<h3>Completed Chores</h3>
<% @house.chores.where(complete: true).each do |chore| %>
  <p>
    <strong><%= link_to chore.name, house_chore_path(chore.house, chore) %></strong>
    <% if chore.creator == current_user %>
      <%= link_to "Edit chore", edit_house_chore_path(chore.house, chore) %> |
      <%= link_to "Delete chore", house_chore_path(chore.house, chore), method: :delete, data: { confirm: "Are you sure you want to delete this chore?" } %>
    <% end %>
  </p>
  <p><%= chore.description %></p>
  <p><%= chore.next_due_date.strftime("%a, %e %b %Y") %></p>
  <p>Occurs <%= chore.frequency_alias %></p>
  <%= form_for [@house, chore] do |f| %>
    <%= f.hidden_field :complete, :value => false %>
    <%= f.submit "Mark as Incomplete" %>
  <% end %>
  <br>
<% end %>


<h3>Incomplete Chores</h3>
<% @house.chores.where(complete: !true).each do |chore| %>
  <p>
    <strong><%= link_to chore.name, house_chore_path(chore.house, chore) %></strong>
    <% if chore.creator == current_user %>
      <%= link_to "Edit chore", edit_house_chore_path(chore.house, chore) %> |
      <%= link_to "Delete chore", house_chore_path(chore.house, chore), method: :delete, data: { confirm: "Are you sure you want to delete this chore?" } %>
    <% end %>
  </p>
  <p><%= chore.description %></p>
  <p>Due Date: <%= chore.next_due_date.strftime("%a, %e %b %Y") %></p>
  <p>Occurs <%= chore.frequency_alias %></p>
  <%= form_for [@house, chore] do |f| %>
    <%= f.hidden_field :complete, :value => true %>
    <%= f.submit "Mark as Complete" %>
  <% end %>

  <% if chore.mate == nil %>
    <%= form_for [@house, chore] do |f| %>
      <%= f.hidden_field :assign_self, :value => current_user.id %>
      <%= f.submit "Claim this chore" %>
    <% end %>
  <% else %>
    <p>Claimed by <%= chore.mate.username %></p>
  <% end %>

  <% if chore.mate == current_user %>
    <%= form_for [@house, chore] do |f| %>
      <%= f.hidden_field :assign_self, :value => nil %>
      <%= f.submit "Unclaim this chore" %>
    <% end %>
  <% end %>

  <br>
<% end %>

<% if @house.expenses != nil %>
  <div class="subheader">
    <h3 id="expenses-header">Expenses</h3>
  </div>
  <div id="expense-list" class="house-list">
    <% @house.expenses.each do |expense| %>
      <p>
        <strong>
          <%= link_to "#{expense.name}: #{number_to_currency(expense.amount)}", house_expense_path(expense.house, expense) %>
        </strong><br>
        Expense due: <%= expense.due_date.strftime("%a, %e %b %Y") %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to button_tag("Add new chore"), new_house_chore_path(@house) %> <%= link_to button_tag("Add new expense"), new_house_expense_path(@house) %>

<%= link_to button_tag("Edit or Delete this House"), edit_house_path(@house) %>
