<div id="house-header" class="full-container">

  <div class="header-card">
    <h1 id="house-name"><%= @house.name %></h1>
    <div id="house-image">
      <%= image_tag @house.house_image %>
    </div>

    <div id="house-buttons">
      <% if current_user %>
        <% if current_user.house == @house %>
          <%= form_for current_user do |f| %>
            <%= f.hidden_field :house_id, :value => nil %>
            <%= f.button "Leave house", class: "house-button hvr-underline-from-left" %>
          <% end %>
        <% else %>
          <%= button_to "Ask to join this house!", house_pending_invitations_path(@house), method: :post, class: "house-button request-to-join-house-button hvr-underline-from-left", remote: true%>
        <% end %>
      <% end %>

      <div id="house-edit-delete-links">
        <%= link_to button_tag("Edit house", class: "house-button hvr-underline-from-left"), edit_house_path(@house), remote: true, id: "edit-house-button" %>
        <% if @house.mates.count == 1 %>
          <%= link_to button_tag("Delete house", class: "house-button hvr-underline-from-left"), house_path(@house), method: :delete, data: { confirm: "Are you sure you want to delete this house?" } %>
        <% end %>
      </div>

      <div class="link-to-stats">
        <%= link_to button_tag("See house stats", class: "house-button hvr-underline-from-left"), house_stats_path(@house) %>
      </div>
    </div>
  </div>

  <div id="roommates" class="header-card">
    <h3>Roommates</h3>
    <ul id="roommates-list">
      <%= render 'mates/mate_list' %>
    </ul>
    <% if current_user.house == @house %>
      <div id="pending-invitation-list">
        <%= render @pending_invitations %>
      </div>
      <%= form_tag house_path(@house), method: :patch, id: 'username-search' do %>
        <%= text_field_tag :username_search, nil, placeholder: "Search for a username", class: "query" %>
        <%= button_tag "Add +", class: 'hvr-glow' %>
      <% end %>
    <% end %>
  </div>
</div>

<% if current_user && current_user.house == @house %>

  <div class="house-container">

    <%= link_to "Show Monthly Calendar", show_month_calendar_path(@house), class: "show-month-calendar", remote: true %>
    <div id="house-calendar" class="full-container">
      <%= render 'calendar', collection: @events %>
    </div>

    <div id="announcements" class="full-container">
      <div class="full-card">
        <div class="full-card-header">
          <h3>Announcements</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_announcement_path(@house), class: "medium-icon-link new-announcement-button", remote: true %>
        </div>
        <% if @announcements.any? %>
          <div class="announcement-counter">
            <strong><%= @announcements.count %></strong> announcements
            <%= button_tag "Show", id: "show-announcements-button" %>
            <%= button_tag "Hide", id: "hide-announcements-button", class: "hidden-button" %>
          </div>
        <% end %>
        <div id="announcements-list" class="full-card-list">
          <%= render(@announcements) || "No announcements!" %>
        </div>
      </div>
    </div>

    <div class="chores full-container">

      <div class="incomplete-chores card-container">
        <div class="incomplete-chores-header card-header">
          <h3>Incomplete Chores</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_chore_path(@house), class: "medium-icon-link new-chore-button", remote: true %>
        </div>
        <div class="incomplete-chores-list card-list">
          <%= render(@chores.where(complete: !true)) || "All chores complete! Good Job!" %>
        </div>
      </div>

      <div class="complete-chores chores-container card-container">
        <div class="complete-chores-header card-header">
          <h3>Completed Chores</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_chore_path(@house), class: "medium-icon-link new-chore-button", remote: true %>
        </div>
        <div class="complete-chores-list card-list">
          <%= render(@chores.where(complete: true)) || "No complete chores yet?! Better get on that." %>
        </div>
      </div>

    </div>

    <div class="full-container">

      <div class="expenses card-container">
        <div class="expenses-header card-header">
          <h3>Expenses</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_expense_path(@house), class: "medium-icon-link new-expense-button", remote: true %>
        </div>
        <div class="expenses-list card-list">
          <%= render @expenses || "No household expenses yet!" %>
        </div>
      </div>

      <div class="purchases card-container">
        <div class="purchases-header card-header">
          <h3>Purchases</h3>
          <%= link_to  image_tag("add.svg", class: "medium-icon"), new_mate_purchase_path(current_user), remote: true, class: "medium-icon-link new-purchase-button" %>
        </div>
        <div class="purchases-list card-list">
          <%= render @purchases || "No Purchases Right Meow" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
