<div class="house-header">

  <div class="house-image">
    <%= image_tag @house.house_image.square, class: "house-image-square" %>
    <%= image_tag @house.house_image, class: "house-image-full" %>
  </div>

  <div class="house-name">
    <h1><%= @house.name %></h1>
  </div>

  <div class="house-info link-to-stats">
    <%= link_to house_stats_path(@house), class: "house-stats", remote: true do %>
      <div class="house-stat house-mates">
        <h1><%= @house.mates.size %></h1>
        <p>mates</p>
      </div>
      <div class="house-stat house-points">
        <h1><%= @house.points.sum(:amount) %></h1>
        <p>points</p>
      </div>
      <div class="house-stat house-points">
        <h1><%= rand(30..98) %><span class="percent-symbol">%</span></h1>
        <p>happy</p>
      </div>
    <% end %>

    <div class="house-buttons">
      <% if current_user %>
        <% if current_user.house == @house %>
          <%= form_for current_user, class: "house-button-container" do |f| %>
            <%= f.hidden_field :house_id, :value => nil %>
            <%= f.button "Leave house", class: "house-button hvr-underline-from-left" %>
          <% end %>
        <% else %>
          <div class="house-button-container">
            <% if @house.pending_invitations.where(mate_id: current_user.id).exists? %>
              <%= button_to "Request sent!", house_pending_invitations_path(@house), method: :post, class: "house-button request-to-join-house-button hvr-underline-from-left", disabled: true, remote: true %>
            <% else %>
              <%= button_to "Ask to join this house!", house_pending_invitations_path(@house), method: :post, class: "house-button request-to-join-house-button hvr-underline-from-left", remote: true%>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="house-button-container">
        <% if current_user.house != nil %>
          <%= link_to button_tag("Edit house", class: "house-button hvr-underline-from-left"), edit_house_path(@house), remote: true, id: "edit-house-button" %>
        <% end %>
      </div>

      <% if @house.mates.count == 1 %>
        <div class="house-button-container">
          <%= link_to button_tag("Delete house", class: "house-button hvr-underline-from-left"), house_path(@house), method: :delete, data: { confirm: "Are you sure you want to delete this house?" } %>
        </div>
      <% end %>
    </div>

    <div class="roommates">
      <div class="roommates-card">
        <h3>Mates</h3>
        <%= render 'mates/mate_list' %>
        <%= link_to button_tag("Add mates", class: "add-house-mates-button large-button") %>
      </div>
      <% if current_user.house == @house %>
        <% unless @house.pending_invitations == nil %>
          <div id="pending-invitations-list">
            <%= render @pending_invitations %>
          </div>
        <% end %>
        <%#= form_tag house_path(@house), method: :patch, id: 'username-search' do %>
          <%#= text_field_tag :username_search, nil, placeholder: "Search for a username", class: "query" %>
          <%#= button_tag "Add +", class: 'hvr-glow' %>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user && current_user.house == @house %>

  <div class="house-container">

    <div class="announcements-container">
      <div class="announcements">
        <div class="announcements-header full-card-header">
          <h3>Announcements</h3>
          <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_announcement_path(@house), class: "medium-icon-link new-announcement-button", remote: true %>
        </div>
        <% if @announcements.any? %>
          <div class="announcement-counter">
            <%= button_tag "Show #{pluralize(@announcements.count, "annnouncement")}", id: "show-announcements-button", class: "large-button" %>
            <%= button_tag "Hide #{pluralize(@announcements.count, "annnouncement")}", id: "hide-announcements-button", class: "hidden-button large-button" %>
          </div>
        <% end %>
        <div id="announcements-list" class="full-card-list">
          <%= render(@announcements) || "No announcements!" %>
        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="calendar-wrapper">
        <div class="calendar-header">
          <h3>Calendar</h3>
        </div>
        <div class="calendar-by-month">
          <%= link_to button_tag("Show monthly calendar", class: "large-button"), show_month_calendar_path(@house), remote: true %>
        </div>
        <div class="calendar-content">
          <div id="house-calendar">
            <%= render 'calendar', collection: @events %>
          </div>
        </div>
      </div>
    </div>
    <div class="chores">
      <div class="chores-header">
        <h3>Chores</h3>
        <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_chore_path(@house), class: "medium-icon-link new-chore-button", remote: true %>
      </div>
      <div class="chores-content">
        <div class="incomplete-chores chores-container card-container">
          <div class="incomplete-chores-header card-header">
            <h3>Incomplete Chores</h3>

          </div>
          <div class="incomplete-chores-list card-list">
            <%= render(@chores.where(complete: !true)) || "All chores complete! Good Job!" %>
          </div>
        </div>

        <div class="complete-chores chores-container card-container">
          <div class="complete-chores-header card-header">
            <h3>Completed Chores</h3>
          </div>
          <div class="complete-chores-list card-list">
            <%= render(@chores.where(complete: true)) || "No complete chores yet?! Better get on that." %>
          </div>
        </div>
      </div>
    </div>

    <div class="expenses-purchases">
      <div class="expenses-purchases-container">
        <div class="expenses card-container">
          <div class="expenses-header card-header">
            <h3>Expenses</h3>
            <%= link_to image_tag("add.svg", class: "medium-icon"), new_house_expense_path(@house), class: "medium-icon-link new-expense-button", remote: true %>
          </div>
          <div class="expenses-list card-list">
            <%= render @expenses || "No household expenses yet!" %>
          </div>
        </div>

        <div class="purchases card-container">
          <div class="purchases-header card-header">
            <h3>Purchases</h3>
            <%= link_to  image_tag("add.svg", class: "medium-icon"), new_mate_purchase_path(current_user), remote: true, class: "medium-icon-link new-purchase-button" %>
          </div>
          <div class="purchases-list card-list">
            <%= render @purchases || "No Purchases Right Meow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
