<div id="house-header">
  <div class="header-card">
    <h1 id="house-name"><%= @house.name %></h1>
    <div id="house-buttons">
      <% if current_user %>
        <% if current_user.house == @house %>
          <%= form_for current_user do |f| %>
            <%= f.hidden_field :house_id, :value => nil %>
            <%= f.submit "Leave This House" %>
          <% end %>
        <% else %>
          <%= form_for current_user do |f| %>
            <%= f.hidden_field :house_id, :value => @house.id %>
            <%= f.submit "Join This House" %>
          <% end %>
        <% end %>
      <% end %>

      <% if current_user == @house.creator %>
        <%= form_tag house_path(@house), method: :patch do %>
          <%= label_tag "username" %>
          <%= text_field_tag :username_search %>
          <%= submit_tag "Add mate to house" %>
        <% end %>
      <% end %>

      <%= link_to button_tag("Edit or Delete this House"), edit_house_path(@house) %>
    </div>
  </div>

  <div id="roommates" class="header-card">
    <h3>Roommates</h3>
    <ul id="roommates-list">
      <% @house.mates.each do |mate| %>
        <li class="roommate">
          <%= link_to "#{mate.first_name} #{mate.last_name}", mate_path(mate) %> <%= link_to "Send Message", conversations_path(sender_id: current_user.id, receiver_id: mate.id), method: 'post'%>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if current_user && current_user.house == @house %>

  <div id="announcements" class="house-card">
    <h3 class="card-header">House Announcements</h3>
    <div id="announcements-list">
      <% if @announcements.blank? %>
        <p class="no-announcement">No Announcements Yet!</p>
      <% else %>
        <div class="announcement">
          <%= render @announcements %>
        </div>
      <% end %>
    </div>
    <%= link_to button_tag("Add New Announcement"), new_house_announcement_path(@house) %>
  </div>

  <div id="chores" class="house-card">

    <div id="chores-complete" class="chores-card">
      <h3 class="card-header">Completed Chores</h3>
      <% @chores.where(complete: true).each do |chore| %>
        <div class="chore">
          <p>
            <strong><%= link_to chore.name, house_chore_path(chore.house, chore) %></strong>
            <% if chore.creator == current_user %>
              <%= link_to "Edit chore", edit_house_chore_path(chore.house, chore) %> |
              <%= link_to "Delete chore", house_chore_path(chore.house, chore), method: :delete, data: { confirm: "Are you sure you want to delete this chore?" } %>
            <% end %>
          </p>
          <p><%= chore.description %></p>
          <p>Due: <%= chore.due_date.strftime("%a, %e %b %Y") %></p>
          <p>Needs to be done every <%= chore.frequency_integer %> <%= chore.frequency_unit %>.</p>
          <%= form_for [@house, chore] do |f| %>
            <%= f.hidden_field :complete, :value => false %>
            <%= f.submit "Mark as Incomplete" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="chores-incomplete" class="chores-card">
      <h3 class="card-header">Incomplete Chores</h3>
      <% @chores.where(complete: !true).each do |chore| %>
        <div class="chore">
          <p>
            <strong><%= link_to chore.name, house_chore_path(chore.house, chore) %></strong>
            <% if chore.creator == current_user %>
              <%= link_to "Edit chore", edit_house_chore_path(chore.house, chore) %> |
              <%= link_to "Delete chore", house_chore_path(chore.house, chore), method: :delete, data: { confirm: "Are you sure you want to delete this chore?" } %>
            <% end %>
          </p>
          <p><%= chore.description %></p>
          <p>Due Date: <%= chore.due_date.strftime("%a, %e %b %Y") %></p>
          <p>Needs to be done every <%= chore.frequency_integer %> <%= chore.frequency_unit %></p>
          <%= form_for [@house, chore] do |f| %>
            <%= f.hidden_field :complete, :value => true %>
            <%= f.submit "Mark as Complete" %>
          <% end %>

          <% if chore.mate == nil %>
            <%= form_for [@house, chore] do |f| %>
              <%= f.hidden_field :assign_self, :value => current_user.id %>
              <%= f.submit "Claim this chore" %>
            <% end %>
          <% else %>
            <p>Claimed by <%= chore.mate.username %></p>
          <% end %>

          <% if chore.mate == current_user %>
            <%= form_for [@house, chore] do |f| %>
              <%= f.hidden_field :assign_self, :value => nil %>
              <%= f.submit "Unclaim this chore" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="chores-buttons">
      <%= link_to button_tag("Add new chore"), new_house_chore_path(@house) %><br>
    </div>

  </div>

  <% if @house.purchases != nil %>
    <div id="purchases" class="house-card">
      <h3 id="purchases-header" class="card-header">Purchases</h3>

      <div id="purchase-list">
        <%= render @purchases %>
      </div>

      <div id="purchases-buttons">
        <%= link_to button_tag("Add new purchase"), new_mate_purchase_path(current_user) %>
      </div>
    </div>
  <% end %>

<% end %>
