<h3 class="conversation-index-header">Your Messages</h3>

<div class="all-conversations"><% @conversations.each do |conversation| %>
    <% if conversation.sender == current_user %>
      <div class="each-conversation">
        <p>Your conversation with <%= link_to conversation.receiver.full_name, conversation_path(conversation.id), remote: true %></p>
        <div class="recent-messages">
          <% if conversation.messages.length > 0 %>
            <%= conversation.messages.last.mate.first_name %>: <%= conversation.messages.last.body %><br>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="each-conversation">
        <p>Your conversation with <%= link_to conversation.sender.full_name, conversation_path(conversation.id), remote: true %></p>
        <div class="recent-messages">
          <% if conversation.messages.length > 0 %>
            <%= conversation.messages.last.mate.first_name %>: <%= conversation.messages.last.body %><br>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %></div>

<div class="messages"></div>
