<ul>
  <% unless housemate_purchase.paid_by?(@mate) %>
    <li class="owed-payment sub-card-item">
      <strong>
        <%= link_to "#{housemate_purchase.name}", mate_purchase_path(housemate_purchase.mate, housemate_purchase), remote: true, class: "show-owed-purchases-link" %>
      </strong><br>
      <%= number_to_currency(housemate_purchase.amount_owed_by(@mate)) %> owed to <%= housemate_purchase.mate.username %><br>
      Due: <%= housemate_purchase.due_date.strftime("%a, %e %b %Y") %>
      <%= link_to button_tag("Make a Payment"), mate_purchase_payments_path(@mate, housemate_purchase) %>
    </li>
  <% end %>
</ul>
