<div class="purchase sub-card-item">
  <p>
    <strong>
      <%= link_to "#{purchase.name}: #{number_to_currency(purchase.amount)}", mate_purchase_path(purchase.mate, purchase), remote: true, class: "show-purchase-link" %>
    </strong><br>
    Still owed: <%= number_to_currency(purchase.amount_owed) %><br>
    <% if purchase.image.present? %>
      Click <%= link_to "here", image_url("#{purchase.image}") %> to see a picture.
    <% end %>
    <% if purchase.mate == current_user %>
      <%= link_to button_tag("edit"), edit_mate_purchase_path(purchase.mate, purchase), remote: true, class: "edit-purchase-button" %>
      <%= link_to button_tag("delete"), mate_purchase_path(purchase.mate, purchase), method: :delete, remote: true %>
    <% end %>
  </p>
  <div id="edit-purchase-form"></div>
</div>
