<div class="expense-detail detail-show">
  <div class="detail-header">
    <h1><%= purchase.name %>: <%= number_to_currency(purchase.amount) %></h1>
    <h4><%= purchase.description %></h4>
  </div>
  <div class="detail-summary">
    <p>
      <% if purchase.mate == current_user %>
        You paid for this purchase.
      <% else %>
        Paid for by <%= purchase.mate.first_name %><br>
        <% if purchase.paid_by?(current_user) %>
          Thank you! You have fully paid back this purchase.
        <% else %>
          Please pay <%= purchase.mate.first_name %> by <%= purchase.due_date.strftime("%A, %B %e, %Y") %>
        <% end %>
      <% end %>
    </p>

  </div>

  <div class="detail-payment-list">
    <table class="detail-payments table-minimal">
      <thead>
        <tr>
          <th class="detail-mate-column">Mate</th>
          <th class="detail-money-column">Owed</th>
          <th class="detail-money-column">Paid</th>
          <th class="detail-money-column">Balance</th>
        </tr>
      </thead>
      <tbody>
        <% purchase.mate.house.mates.each do |mate| %>
          <% unless mate == purchase.mate %>
            <tr>
              <td class="detail-mate-column">
                <%= mate.first_name %>
              </td>
              <td class="detail-money-column">
                <%= number_to_currency(purchase.amount_for_each) %>
              </td>
              <td class="detail-money-column">
                <%= number_to_currency(purchase.amount_paid_by(mate)) %>
              </td>
              <td class="detail-money-column <%= (purchase.amount_owed_by(mate) < 0) ? "negative" : "positive" %>" >
                <%= number_to_currency(purchase.amount_owed_by(mate)) %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <tr class="total-row">
          <td class="detail-mate-column">
            Total
          </td>
          <td class="detail-money-column">
            <%= number_to_currency(purchase.amount - purchase.amount_for_each) %>
          </td>
          <td class="detail-money-column">
            <%= number_to_currency(purchase.amount_paid) %>
          </td>
          <td class="detail-money-column <%= (purchase.amount_owed < 0) ? "negative" : "positive" %>" >
            <%= number_to_currency(purchase.amount_owed) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="detail-make-payment">
    <% if purchase.paid_by?(current_user) %>
      No additional payments needed.
    <% else %>
      <%= link_to button_tag("Make a payment"), new_mate_purchase_payment_path(purchase.mate, purchase), remote: true %>
    <% end %>
  </div>
  <div class="detail-links">
    <% if purchase.mate == current_user %>
      <%= link_to image_tag("edit.svg", class: "detail-icon detail-edit-icon"), edit_mate_purchase_path(purchase.mate, purchase), remote: true, class: "detail-icon-link edit-purchase-button" %>
      <%= link_to image_tag("delete.svg", class: "detail-icon detail-delete-icon"), mate_purchase_path(purchase.mate, purchase), method: :delete, data: {confirm: "Are you sure you want to delete this purchase?"}, class: "detail-icon-link", remote: true %>
    <% end %>

    <% if purchase.image.present? %>
      <%= link_to image_tag("attachment.svg", class: "detail-icon"), image_url("#{purchase.image}"), class: "detail-icon-link" %>
    <% end %>
  </div>
</div>
