<div class="purchase-item card-item">
  <div class="purchase-summary card-summary">
    <p class="purchase-name">
      <%= link_to "#{purchase.name}", mate_purchase_path(purchase.mate, purchase), remote: true, class: "show-purchase-link" %>
    </p>
    <p class="purchase-amount">
      <%= number_to_currency(purchase.amount) %>
    </p>
    <p class="purchase-by">
      By <%= purchase.mate.first_name %>
    </p>
    <p class="purchase-amount-remaining">
      Still owed: <%= number_to_currency(purchase.amount_owed * -1) %>
    </p>
    <p class="purchase-pay">
      <% if purchase.mate != current_user %>
        <%= link_to button_tag("Pay", class: "small-button"), new_mate_purchase_payment_path(purchase.mate, purchase), class: "new-purchase-payment-button", remote: true %>
      <% end %>
    </p>
  </div>
  <div class="card-links">
    <% if purchase.mate == current_user %>
      <%= link_to image_tag("edit.svg", class: "item-icon edit-icon"), edit_mate_purchase_path(purchase.mate, purchase), remote: true, class: "item-icon-link edit-purchase-button" %><br>
      <%= link_to image_tag("delete.svg", class: "item-icon delete-icon"), mate_purchase_path(purchase.mate, purchase), method: :delete, data: {confirm: "Are you sure you want to delete this purchase?"}, class: "item-icon-link", remote: true %><br>
    <% end %>

    <% if purchase.image.present? %>
      <%= link_to image_tag("attachment.svg", class: "item-icon"), image_url("#{purchase.image}"), class: "item-icon-link" %>
    <% end %>
  </div>
</div>
