<div id="purchase-form" class="form">

  <% if @purchase.id.present? %>
    <h3>Update Purchase Info</h3>
  <% else %>
    <h3>Add a Purchase</h3>
  <% end %>

  <%= form_for [@mate, @purchase], remote: true, authenticity_token: true do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "A new frying pan" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, placeholder: "A really expenive high-tech frying pan." %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_field :due_date %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.number_field :amount, step: 0.01 %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="action">
      <% if @purchase.id.present? %>
        <%= f.submit "Update Purchase Info", class: "purchase-form-submit" %>
      <% else %>
        <%= f.submit "Add New Purchase", class: "purchase-form-submit" %>
      <% end %>
    </div>

  <% end %>

</div>
