<div id="payment-form" class="form">

  <div class="payment-form-header">
    <h3>Make a Payment towards <%= @expense.name %></h3>
  </div>

  <%= form_for [@house, @expense, @payment], remote: true do |f| %>

    <div class="field">
      <%= f.label :amount %><br>
      <%= f.number_field :amount, step: 0.01 %>
    </div>
    <div class="field">
      <%= f.hidden_field :paid_date, :value => Date.today %>
    </div>
    <div class="action">
      <%= f.submit "Save", class: "expense-payment-form-submit" %>
    </div>

  <% end %>

</div>
