<div id="chore-form" class="form">

  <%= form_for ([@house, @chore]) do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_field :due_date %>
    </div>
    <div class="field">
      <%= f.check_box :recurring %>
      <%= f.label :recurring %>
    </div>

    <div class="recurrence">
      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "days" %>
          Every <%= f.number_field :frequency_integer %> day(s)
        <% end %>
      </div>
      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "weeks" %>
          Every <%= f.number_field :frequency_integer %> week(s)
        <% end %>
      </div>
      <div class="field">
        On  <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Monday" %>
        Monday
        <% end %>
        <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Tuesday" %>
        Tuesday
        <% end %>
        <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Wednesday" %>
        Wednesday
        <% end %>
        <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Thursday" %>
        Thursday
        <% end %>
        <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Friday" %>
        Friday
        <% end %>
        <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Saturday" %>
        Saturday
        <% end %>
        <%= f.label :frequency_weekday do %>
        <%= f.radio_button :frequency_weekday, "Sunday" %>
        Sunday
        <% end %>
      </div>
      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "months" %>
          Every <%= f.number_field :frequency_integer %> month(s)
        <% end %>
      </div>
      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "years" %>
          Every <%= f.number_field :frequency_integer %> year(s)
        <% end %>
      </div>
    </div>
    <div class="action">
      <%= f.submit "Save" %>
    </div>

  <% end %>

</div>
