<div id="chore-form" class="form">

  <%= form_for [@house, @chore], remote: true do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_field :due_date %>
    </div>
    <div class="field">
      <%= f.check_box :recurring %>
      <%= f.label :recurring %>
    </div>
    <div class="recurrence">
      <div class="field">
        <%= f.label :frequency_integer, "Every" %>
        <%= f.number_field :frequency_integer %>
      </div>

      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "days" %>
          day(s)
        <% end %>
      </div>

      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "weeks" %>
          week(s)
        <% end %>
      </div>

      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "months" %>
          month(s)
        <% end %>
      </div>

      <div class="field">
        <%= f.label :frequency_unit do %>
          <%= f.radio_button :frequency_unit, "years" %>
          year(s)
        <% end %>
      </div>

      <div id="days-of-week" class="field">
        On  <%= f.label :frequency_weekday do %>
          <% Date::DAYNAMES.each do |day| %>
            <%= f.radio_button :frequency_weekday, day %>
            <%= day %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="action">
      <%= f.submit "Save" %>
    </div>

  <% end %>

</div>
