<div id="chore-form" class="form">
  <div class="chore-form-header">
    <% if @chore.id.present? %>
      <h3>Update Chore Info</h3>
    <% else %>
      <h3>Add New Chore</h3>
    <% end %>
  </div>

  <%= form_for [@house, @chore], remote: true do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "Clean the bathroom" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, placeholder: "- Clean the sink \n- Clean the tub" %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_field :due_date %>
    </div>
    <div class="field">
      <%= f.check_box :recurring %>
      <%= f.label :recurring %>
    </div>
    <div class="recurrence">
      <div class="frequency_integer">
        <div class="field">
          <%= f.label :frequency_integer, "Every" %>
          <%= f.number_field :frequency_integer, placeholder: 2 %>
        </div>
      </div>

      <div class="field frequency_units">
        <%= f.select :frequency_unit, options_for_select([["day(s)", "days"], ["week(s)", "weeks"], ["month(s)", "months"], ["year(s)", "years"]]) %>
      </div>

      <div id="days-of-week" class="field">
        On (optional)
          <%= f.select :frequency_weekday, options_for_select([["Select a weekday", ""], ["Sunday", "Sunday"], ["Monday", "Monday"], ["Tuesday", "Tuesday"], ["Wednesday", "Wednesday"], ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"]]) %>
      </div>
      <p>How do you want the chore to be reassigned after it's due date?</p>
      <div class="field">
        <%= f.label :reassignment_style_claimable do %>
        <%= f.radio_button :reassignment_style, "claimable", checked: true %>
        Claimable - <span class="reassignment-style-description">This chore is unassigned by default.</span>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :reassignment_style_rotating do %>
        <%= f.radio_button :reassignment_style, "rotating" %>
        Rotating - <span class="reassignment-style-description">If claimed, this chore rotates through all roommates after each deadline.</span>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :reassignment_style_random do %>
        <%= f.radio_button :reassignment_style, "random" %>
        Random - <span class="reassignment-style-description">If claimed, this chore randomly assigns itself to a new roommate after each deadline.</span>
        <% end %>
      </div>
    </div>

    <div class="action">
      <%= f.submit "Save", class: "chore-form-submit" %>
    </div>

  <% end %>

</div>
