<div class="chore">
  <div class="chore-front card-item">
    <div class="check-mark-wrapper chore-complete-form">
      <% if chore.complete? %>
        <%= form_for [@house, chore], class: "chore-complete-form", remote: true do |f| %>
          <%= f.hidden_field :complete, :value => false %>
          <%= f.submit "", class: "check-mark is-checked" %>
        <% end %>
      <% else %>
        <%= form_for [@house, chore], class: "chore-complete-form", remote: true do |f| %>
          <%= f.hidden_field :complete, :value => true %>
          <%= f.submit "", class: "check-mark" %>
        <% end %>
      <% end %>
    </div>

    <div class="card-summary">
      <dl>
        <dd class="chore-name">
          <%= link_to chore.name, house_chore_path(chore.house, chore), class: "show-chore-link", remote: true %>
        </dd>
        <dd class="chore-date">
          Due <%= chore.due_date.strftime("%A, %B %e") %>
        </dd>
        <dd class="chore-recurring">
          <% if chore.recurring %>
            (Repeats every <%= pluralize(chore.frequency_integer, chore.frequency) %>)
          <% else %>
            (Only happens once)
          <% end %>
        </dd>
        <dd class="chore-reassignment">
          <% if chore.reassignment_style == "claimable" %>
            Unassigned by default
          <% elsif chore.reassignment_style == "rotating" %>
            Assigned by rotation
          <% elsif chore.reassignment_style == "random" %>
            Assigned randomly
          <% end %>
        </dd>
        <dd class="chore-claim-form">
          <% if !chore.complete? %>
            <% if chore.mate == nil %>
              <%= form_for [@house, chore], remote: true do |f| %>
                <%= f.hidden_field :assign_self, :value => current_user.id %>
                <%= f.submit "claim", class: "chore-claim-button" %>
              <% end %>
            <% else %>
              <strong>Claimed by <%= chore.mate.username %></strong>
            <% end %>

            <% if chore.mate == current_user %>
              <%= form_for [@house, chore], remote: true do |f| %>
                <%= f.hidden_field :assign_self, :value => nil %>
                <%= f.submit "unclaim", class: "chore-claim-button" %>
              <% end %>
            <% end %>
          <% end %>
        </dd>
      </dl>

      <div id="edit-chore-form"></div>
    </div>

    <div class="card-links">
      <%= button_tag image_tag("menu.svg", class: "item-icon"), class: "item-icon-link show-notification-options" %>
      <%= link_to image_tag("edit.svg", class: "item-icon"), edit_house_chore_path(chore.house, chore), class: "item-icon-link edit-chore-button", remote: true %>
      <%= link_to image_tag("x.svg", class: "item-icon"), house_chore_path(chore.house, chore), method: :delete, data: { confirm: "Are you sure you want to delete this chore?" }, class: "item-icon-link", remote: true %>
    </div>

  </div>

  <% if chore.notifications.where(mate_id: current_user.id).any? %>
    <div class="chore-back card-item hide-card">
      <%= form_for [current_user, chore.notifications.find_by(mate_id: current_user.id)] do |f| %>
        <div class="field">
          <%= f.label :email, for: "email_#{chore.id}" do %>
            <%= f.check_box :email, id: "email_#{chore.id}" %>
            Email
          <% end %>
        </div>

        <div class="field">
          <%= f.label :sms, for: "sms_#{chore.id}" do %>
            <%= f.check_box :sms, id: "sms_#{chore.id}" %>
            SMS
          <% end %>
        </div>

        <div class="action">
          <%= f.submit "Update Notification Settings" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="card-links">
    <%= button_tag image_tag("x.svg", class: "item-icon"), class: "item-icon-link hide-notification-options" %>
  </div>
</div>
