<div id="chore-form" class="form">

  <%= form_for [@house, @chore], remote: true do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "Clean the bathroom" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, placeholder: "- Clean the sink \n- Clean the tub" %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_field :due_date %>
    </div>
    <div class="field">
      <%= f.check_box :recurring %>
      <%= f.label :recurring %>
    </div>
    <div class="recurrence">
      <div class="frequency_integer">
        <div class="field">
          <%= f.label :frequency_integer, "Every" %>
          <%= f.number_field :frequency_integer, placeholder: 2 %>
        </div>
      </div>

      <div class="frequency_units">
        <div class="field">
          <%= f.label :frequency_unit do %>
            <%= f.radio_button :frequency_unit, "days", checked: true %>
            day(s)
          <% end %>
        </div>

        <div class="field">
          <%= f.label :frequency_unit do %>
            <%= f.radio_button :frequency_unit, "weeks" %>
            week(s)
          <% end %>
        </div>

        <div class="field">
          <%= f.label :frequency_unit do %>
            <%= f.radio_button :frequency_unit, "months" %>
            month(s)
          <% end %>
        </div>

        <div class="field">
          <%= f.label :frequency_unit do %>
            <%= f.radio_button :frequency_unit, "years" %>
            year(s)
          <% end %>
        </div>
      </div>

      <div id="days-of-week" class="field">
        On (optional) <%= f.label :frequency_weekday do %>
          <% Date::DAYNAMES.each do |day| %>
            <%= f.radio_button :frequency_weekday, day %>
            <%= day %>
          <% end %>
        <% end %>
      </div>
      <p>How do you want the chore to be reassigned after it's due date?</p>
      <div class="field">
        <%= f.label :reassignment_style do %>
        <%= f.radio_button :reassignment_style, "claimable", checked: true %>
        Claimable - This chore is unassigned by default, and can be claimed by anybody.
        <% end %>
      </div>

      <div class="field">
        <%= f.label :reassignment_style do %>
        <%= f.radio_button :reassignment_style, "rotating" %>
        Rotating - If claimed, this chore rotates through all roommates after each deadline.
        <% end %>
      </div>

      <div class="field">
        <%= f.label :reassignment_style do %>
        <%= f.radio_button :reassignment_style, "random" %>
        Random - If claimed, this chore randomly assigns itself to a new roommate after each deadline.
        <% end %>
      </div>
    </div>

    <div class="action">
      <%= f.submit "Save" %>
      <%= link_to button_tag("Close form"), house_path(@house), remote: true %>
    </div>

  <% end %>

</div>
