<h1><%= @chore.name %></h1>

<div id="chore-due">
  <p>
    Original due date: <%= @chore.due_date %><br>
    Next due date: <%= @chore.next_due_date %><br>
    Occurs every <%= @chore.frequency %> days
  </p>
</div>

<div id="chore-description">
  <p>
    <%= @chore.description %>
  </p>
</div>

<div id="chore-complete">
  <p>
    Completed?
    <% if @chore.complete %>
      Yes<br>
      <%= form_for [@house, @chore] do |f| %>
        <%= f.hidden_field :complete, :value => false %>
        <%= f.submit "Mark as Incomplete" %>
      <% end %>
    <% else %>
      No<br>
      <%= form_for [@house, @chore] do |f| %>
        <%= f.hidden_field :complete, :value => true %>
        <%= f.submit "Mark as Complete" %>
      <% end %>
    <% end %>
  </p>
</div>
