<h1><%= @expense.name %>: <%= number_to_currency(@expense.amount) %></h1>

<div id="expense-due">
  <p>
    Expense due: <%= @expense.due_date.strftime("%a, %e %b %Y") %>
  </p>
</div>

<div id="payment-list">
  <% @expense.payments.each do |payment| %>
    <p>
      <%= payment.user.username %>: <%= number_to_currency(payment.amount) %> (<%= @payment.paid_date.strftime("%a, %e %b %Y") %>)
    </p>
  <% end %>
</div>

<div id="expense-description">
  <p>
    <%= @expense.description %>
  </p>
</div>

<div id="make-payment">
  <%= link_to button_tag("Make a payment"), new_house_expense_payment_path(@expense.house, @expense) %>
</div>

<div id="expense-links">
  <% if @expense.house == current_user.house %>
    <%= link_to "Edit expense", edit_house_expense_path(@expense.house, @expense) %> |
    <%= link_to "Delete expense", house_expense_path(@expense.house, @expense), method: :delete, data: { confirm: "Are you sure you want to delete this expense?" } %>
  <% end %>
</div>
