<div id="expense-show-page">
  <h1><%= @expense.name %>: <%= number_to_currency(@expense.amount) %></h1>
  <h2><%= @expense.description %></h2>

  <div id="expense-summary">
    <p>
      Due date: <%= @expense.due_date.strftime("%a, %e %b %Y") %><br>
      <!-- Might need to fix wording for expenses that aren't daily weekly or monthly -->
      Paid every <%= @expense.frequency_integer %> <%= @expense.frequency_unit %>.
    </p>
    <p>Amount owed: <%= number_to_currency(@expense.amount_owing) %></p>
  </div>

  <div id="expense-links">
    <%= link_to "Edit expense", edit_house_expense_path(@house, @expense) %> |
    <%= link_to "Delete expense", house_expense_path(@house, @expense), method: :delete, data: { confirm: "Are you sure you want to delete this expense?" } %>
  </div>

  <div id="edit-expense-form"></div>

  <div id="payment-list">
    <h4>Payments</h4>
    <% @expense.house.mates.each do |mate| %>
      <dl>
        <dd><%= mate.username %></dd>
        <dd>Paid: <%= number_to_currency(mate.expense_amount_paid(@expense)) %></dd>
      </dl>
    <% end %>
  </div>

  <div id="make-payment">
      <%= link_to button_tag("Make a payment"), new_house_expense_payment_path(@expense.house, @expense) %>
  </div>
</div>
