<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "chortal" %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <header class="navigation" role="banner">
        <div class="navigation-wrapper">
          <%= link_to "chortal", root_path, class: "site-logo logo" %>
          <%= link_to "MENU", "", class: "navigation-menu-button", id: "js-mobile-menu"  %>
          <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
              <% if current_user %>
                <li class="nav-link">
                  <%= link_to "House", house_path(current_user.house), class: 'hvr-underline-from-left' if current_user.house.present? %>
                  <%= link_to "Houses", houses_path, class: 'hvr-underline-from-left' if current_user.house.blank? %>
                </li>
                <li class="nav-link">
                  <%= link_to "Messages", conversations_path, class: 'hvr-underline-from-left' %>
                </li>
                <li class="nav-link">
                  <%= link_to "#{current_user.username.capitalize}", mate_path(current_user), class: 'hvr-underline-from-left' %>
                </li>
                <% if current_user.house == nil %>
                  <li class="nav-link">
                    <%= link_to "New House", new_house_path, class: 'hvr-underline-from-left' %>
                  </li>
                <% end %>
                <li class="nav-link">
                  <%= link_to "Log out", logout_path, method: :post, class: 'hvr-underline-from-left' %>
                </li>
              <% else %>
                <li class="nav-link">
                  <%= link_to "Login", new_session_path, id: "login-link", remote: true, class: 'hvr-underline-from-left' %>
                </li>
                <li class="nav-link">
                  <%= link_to "Sign up", new_mate_path, id: "signup-link", remote: true, class: 'hvr-underline-from-left' %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
    <% end %>

    <div class="flash"></div>

    <div id="overlay"></div>

    <div class="popup">
      <div class="popup-layout">
        <span class="close-popup-link close-button">close</span>
      </div>
      <div class="popup-form"></div>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <% if current_user %>
      <footer class="footer-2" role="contentinfo">
        <div class="footer-logo">
          <p class="chortal-footer-logo">chortal</p>
        </div>
          <!-- <ul>
            <li></li>
          </ul> -->

          <div class="footer-secondary-links">
            <ul>
              <li>Created by:</li>
              <li><%= link_to "Mike Bowman", "http://bowmanmike.com/" %></li>
              <li><%= link_to "Patrick Cruikshank", "https://ca.linkedin.com/in/pcruikshank" %></li>
              <li><%= link_to "Karen Ho", "http://karenjho.com/" %></li>
            </ul>
            <ul class="footer-social">
              <li>
                <%= link_to image_tag("github.png"), "https://github.com/pcruiksh/rmmts" %>
              </li>
            </ul>
          </div>
      </footer>
    <% end %>

  </body>
</html>
