<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "chortal" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <%= link_to "chortal", root_path, class: "site-logo logo" %>
        <%= link_to "MENU", "", class: "navigation-menu-button", id: "js-mobile-menu"  %>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <% if current_user %>
              <li class="nav-link">
                <%= link_to "House", house_path(current_user.house) if current_user.house.present? %>
                <%= link_to "Houses", houses_path if current_user.house.blank? %>
              </li>
              <li class="nav-link">
                <%= link_to "Messages", conversations_path %>
              </li>
              <li class="nav-link">
                <%= link_to "#{current_user.username.capitalize}", mate_path(current_user) %>
                <!-- <%#= link_to "Edit Profile", edit_mate_path(current_user), id: "edit-mate-link", remote: true %> -->
              </li>
              <li class="nav-link">
                <%= link_to "Log out", logout_path, method: :post %>
              </li>
            <% else %>
              <li class="nav-link">
                <%= link_to "Login", new_session_path, id: "login-link", remote: true %>
              </li>
              <li class="nav-link">
                <%= link_to "Sign up", new_mate_path, id: "signup-link", remote: true %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div id="overlay"></div>

    <div class="popup">
      <div class="popup-layout">
        <span class="close-popup-link">close [x]</span>
      </div>
      <div class="popup-form"></div>
    </div>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
