<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="nav">
      <h1>rmmts</h1>
      <% unless current_user %>
        <%= link_to "register", new_mate_path %>
        <%= link_to "login", new_session_path %>
      <% end %>

      <%= link_to 'Home', root_path %>
      <%= link_to 'Houses', houses_path %>
      <%= link_to 'Mates', mates_path %>
    </div>

    <%= yield %>

    <footer>
      <% if current_user %>
        <p>logged in as <%= current_user.username %></p>
        <%= link_to "log out", logout_path(@mate), method: :post %>
      <% end %>
    </footer>

  </body>
</html>
