<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "rmmts" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <%= link_to "rmmts", root_path %>
        <%= link_to "Houses", houses_path %>
        <%= link_to "Mates", mates_path %>
        <%= link_to "Messages", conversations_path %>
      </div>
      <div class="top-bar-right">
        <% if current_user %>
          Logged in as <%= current_user.username %>
          <%= link_to "Log out", logout_path(@mate), method: :post %>
        <% else %>
          <%= link_to "Login", new_session_path %>
          <%= link_to "Sign up", new_mate_path %>
        <% end %>
      </div>
    </div>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
